.row {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    // Row modifiers
    &--reversed {
        flex-direction: row-reverse;
    }
    &--nowrap {
        flex-wrap: nowrap;
    }
    &--wrap-reverse {
        flex-wrap: wrap-reverse;
    }
    &--centered {
        justify-content: center;
    }
    &--end {
        justify-content: flex-end;
    }
    &--space-between {
        justify-content: space-between;
    }
    &--space-evenly {
        justify-content: space-evenly;
    }
    &--space-around {
        justify-content: space-around;
    }

    // Gurrets
    *[class^="col-"],
    *[class*=" col-"] {
        padding-left: unset $grid-gutter;
    }
    &--stretched {
        *[class^="col-"],
        *[class*=" col-"] {
            padding-left: unset 0;
        }
    }
}

@include grid('xs');
@include breakpoint('md') {
    @include grid('md');
}
@include breakpoint('lg') {
    @include grid('lg');
}
@include breakpoint('hd') {
    @include grid('hd');
}